$light-color: #a1a3a1;
$primary-dark-color: #745dff;

.text-area{
    border: none;
    resize: none;
    font-size: 22px;
    letter-spacing: -.7px;
    color: #000;
    width: 100%;
    padding: 10px 0px;
    // min-height: 221px;
    // max-height: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: $light-color;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }
}

.theme-btn{
    border: 1px solid #000;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    padding: 12px 70px;
    background-color: #fff;
    cursor: pointer;
    &:disabled{
        cursor: not-allowed;
    }
    &:active{
        color: #fff;
        background-image: linear-gradient(to bottom, #864bff, #5082ff);
    }
    &:hover:not(:disabled){
        color: $primary-dark-color;
        border-color: $primary-dark-color;
        text-shadow: 0.8px 0.8px 0px $primary-dark-color;
        box-shadow: 1px 1px 0px 0px $primary-dark-color;
    }
}